$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/bootstrap.scss";
// endbower

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* Mixins */
@mixin borderradius($radius) {
	-webkit-border-radius: $radius;
	-moz-border-radius: $radius;
	border-radius: $radius;
}

/* Space out content a bit */
html,body,.view {
	height: 100%;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  	border-bottom: 1px solid #e5e5e5;
  	width: 100%;
  
	h3 {
		text-align: left;
		font-size: 3em;
		
	    margin-top: 0;
	    margin-bottom: 0;
		padding-bottom: 19px;
	}
	
	a {
		font-size: 1.33em;
	}
	
	.container {
		max-width: 100%;
	}
}


/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
  margin: 30px 0;
}

.fillScreen {
	position: absolute;
	top: 0;
	left: 0;
	margin: 0;
	padding: 0;
	height: 100%;
	min-height: 100%;
	width: 100%;
	min-width: 100%;
}

/* Main marketing message and sign up button */
.aboveTheFold {
	position: relative;
	display: block;
  	height: 100%;
  	background: transparent !important;
  	overflow: hidden;

  	text-align: center;
  	border-bottom: 1px solid #e5e5e5;
  	color: white;
  	padding: 16px;
  	margin-bottom: 0;

	.backgroundFill {
		@extend .fillScreen;
		
		background: url("/images/meeting.jpg") no-repeat center center;
		background-size: cover;
		z-index: -2;
	}
	.screenBackground {
		@extend .fillScreen;
		
		background: rgba(60,60,60,0.33);
		z-index: -1;
	}
	
	.header {
		$color: white;
	  
		h3 {
			color: $color;
		}
		
		a {
			color: $color;
			&:hover,
			&:focus {
				background-color: rgba(255,255,255,0.33) !important;
			}
		}
	}

	.content {
		position: absolute;
		top: 35%;
	}
	
	.downLink {
		position: absolute;
		bottom: 0;
		padding: 0.8em;
		font-size: 1.4em;
		
		a {
			color: white;
			&:hover {
				text-decoration: none;
			}
		}
	}
}

.belowTheFold {
	position: relative;
	background: white;
	z-index: 1;
	
	.header {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		z-index: 100;
		
		padding-top: 19px;
		background: white;
	}
	
	.teammate {
		text-align: center;
		
		img {
			@include borderradius(8px);
			width: 100%;
			height: auto;
		}
		
		h4 {
			margin: 0;
			color: #AAAAAA;
			-webkit-transition: all 1s ease;
			transition: all 1s ease;
		}
		
		p {
			font-style: italic;
			color: #777;
		}
		
		&:hover {
			opacity: 0.9;
		}
	}
	
}

.scrollActive .teammate h4 {
	color: blue;
	text-decoration: underline;
}

/* Supporting marketing content */
.marketing {
	padding-top: 95px;
  	padding-bottom: 40px;

  	& > .container > h4 {
    	margin-top: 60px; 
  	}
}

/* Footer */
.footer {
	$color: #777;
	color: $color;
	background: #f5f5f5;
	height: 60px;
	text-align: center;
	
	a {
		color: $color;
	}
}

/* Legalese page */
.legal-view {
	padding: 70px 0 35px;

	.navbar-brand {
		margin-top: 0;
		margin-bottom: 0;
	}
	
	.nav-pills {
		padding-top: 5px;
	}
	
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    max-width: 730px;
  }

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}
